body{
    margin: 0px;
}
div{
    margin: 0px;
}
#ocean{
    width: 100%;
    height: 60%;
    background-image: url(images/ocean.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
}
#road{
    width: 100%;
    height: 40%;
    background-image: url(images/road2.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
}
#car1{
    position: absolute;
    height: 14vh;
    bottom: 25vh;
    animation-name: drive;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;

}
#car2{
    position: absolute;
    height: 15vh;
    bottom: 5vh;
    animation-name: drive;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@keyframes drive{
    from{transform: translateX(-100vw);}
    to{transform: translateX(120vw);}
}
